body{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 25px;    
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.div{
    margin: 0;
}

h1{
    font-weight: 1000px;
    display: flex;
    justify-content: center;
}

.rojo{
    color: red;
}

li{
    margin-bottom: 6px;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja{
    width: 720px;
    background-color: navajowhite;
    padding: 2% 3%;
    border-radius: 12px;
    margin: 24px auto 24px auto;
}

.text-1{
    letter-spacing: 4px;
}

.text-2{
    word-spacing: 14px;
}

.text-3{
    line-height: 2;
}

.text-4{
    width: 100px;
    background-color: navajowhite;
    padding: 2% 3%;
    border-radius: 12px;
    margin: 24px auto 24px auto;

    writing-mode:vertical-lr;
}

.text-5{
    width: 100px;
    background-color: navajowhite;
    padding: 2% 3%;
    border-radius: 12px;
    margin: 24px auto 24px auto;

    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.text-6{
    width: 10px;
    background-color: navajowhite;
    padding: 2% 3%;
    border-radius: 12px;
    margin: 24px auto 24px auto;

    word-break: break-all;
    text-transform: uppercase;
    text-align: center;
}