/*  SELECTORES */

/* 
    Selectores Simples:

            Selectores elementales:

                    Selector universal -> Se representa solo con un * y engloba a todo el documento al que este vinulado el CSS que lo use

                    Selector de tipo o etiqueta -> Se utilizan poniendo el nombre de la etiqueta a la que queremos cambiar su estilo y este se aplicara a todas las etiquetas de este tipo en el documento, exepto si tienen otro en particular. 

            Selectores de atributo:

                    id -> se representa por medio del id del elemento 

                    clase -> se representa por medio la clase del elemento 

                    otros atributos -> Se utilizan llavez tipo [ ] y dentro se pone el atributo que queremos seleccionar.
                    ejemplos:

                         [ href ]{
                            propiedad : ;
                         }

                    O tambien se puede poner el nombre del atributo y su valor para cambiar solo una propiedad especifica:

                         [ href = " https://goolge.com "  ] {
                            propiedad: ;
                         }

    Selectores Compuestos:

            Selectores Agrupados:                    
                    Para hacer uso de este tipo de selectores es necesario que todos los elementos a los que se les vaya a dar estilo tengan un atributo class luego se nombran todos al inicio de la misma regla separados por comas y con un punto al inicio de cada nombre
                         
                         
                         
            Selectores Combinadores:

                    selector descendente:
                         este concinste en seleccionar un elemento que esta dentro de otro es decir que se representa al escribir todos los niveles de objetos que estan por encima de nuestro elemento, separados por espacios empezando por el nivel mas alto del que queremos descender
                         ejemplo:

                            html body div .h2 {
                                background-color: green;
                            }
                    
        Pseudoclases - Pseudo (Se vera mas adelante en el curso)

*/


body{
    font-family: 'Montserrat', sans-serif;
}

.centrar{
    display: flex;
    justify-content: center;
}

.max_width{
    max-width: 60%;
}

code{
    font-size: 16.5px;
}

.rojo{
    color: red;
}

div ul li h3{
    background-color: slategray;
    border-radius: 4px;
}

div .titulo-1{
    color: lightgreen;
    background-color: green;
    border-radius: 4px;
    
}