body{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 25px;    
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.div{
    margin: 0;
}

h1{
    font-weight: 1000px;
    display: flex;
    justify-content: center;
}

.rojo{
    color: red;
}

li{
    margin-bottom: 6px;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Monsters U';
    src: url(../assets/fonts/varsity_regular.ttf);
}

.box-1{
    width: 920px;
    background-color: navajowhite;
    padding: 2% 3%;
    border-radius: 12px;
    margin: 24px auto 24px auto;

    font-family: 'Monsters U', monospace;
    font-size: 26px;
}