body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 25px;    

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;

}

.margin{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

h1{
    font-weight: 1000px;
    display: flex;
    justify-content: center;
}

.rojo{
    color: red;
}

li{
    margin-bottom: 6px;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}