body{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 25px;    
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.div{
    margin: 0;
}

h1{
    font-weight: 1000px;
    display: flex;
    justify-content: center;
}

.rojo{
    color: red;
}

li{
    margin-bottom: 6px;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 720px;
    background-color: navajowhite;
    padding: 2% 3%;
    border-radius: 12px;
    margin: 24px auto 24px auto;

}

.serif{
    font-family: serif;
}

.sans-serif{
    font-family: sans-serif;
}

.monospace{
    font-family: monospace;
}

.cursive{
    font-family: cursive;
}

.fantasy{
    font-family: fantasy;
}